.newsletter {
  background: #fff;
}

.newsletter-box {
  background: #23272b;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  border-radius: 4px;
}

.newsletter-content {
  flex: 1;
}

.newsletter-content h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.newsletter-content p {
  color: #d0d0d0;
  font-size: 17px;
  margin: 0;
}

.newsletter-form {
  flex: 1;
  display: flex;
  align-items: center;
}

.newsletter-form input {
  flex: 1;
  height: 58px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.newsletter-form button {
  height: 58px;
  padding: 0 40px;
  border: none;
  background: #6ea6c5;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background: #2563eb;
}

@media (max-width: 992px) {
  .newsletter-box {
    flex-direction: column;
    text-align: center;
  }

  .newsletter-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .newsletter {
    padding: 70px 0;
  }
  .newsletter-box {
    padding: 35px 25px;
  }
  .newsletter-content h2 {
    font-size: 2rem;
  }
  .newsletter-content p {
    font-size: 15px;
  }
  .newsletter-form {
    flex-direction: column;

    gap: 15px;
  }
  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
  }
}
